@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: Cairo;
    src: url("../assets/fonts/Cairo.woff2") format("woff2");
    font-weight: 1 999;
}

@layer {
    .shadow-0 {
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.05);
    }

    .btn-shadow{
        box-shadow: 0px 0px 10px 0px #0000000D;
    }

    .inactive-border{
        border: 1px solid #EFEFEF !important;
    }

    .cairo{
        font-family: Cairo;
    }

    .btn-primary {
        height: 50px;
        --border-radius: 10px;
    }
}

ion-content {
    --ion-background-color: #f9f9f9;
}

ion-content, ion-button, ion-toolbar, ion-tab-bar, *{
    font-family: Cairo;
    -webkit-user-select: none !important; /* Safari */
    -ms-user-select: none !important; /* IE 10 and IE 11 */
    user-select: none !important; /* Standard syntax */
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    border: 1px solid var(--ion-color-primary)
}

input.number-input::placeholder {
    color: transparent;
}

input.number-input:focus {
    color: var(--ion-color-primary);
    outline: none;
    height: 40px;
}

input.number-input:focus::placeholder {
    color: #e4e4e4;
}

.number-label {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 16px;
    transition: margin ease-in-out 0.1s;
    color: #A5A5a5;
    font-weight:500;

}

input.number-input:focus~.number-label {
    /* margin-top:-10px !important;
    display: block;
    background-color: white;
    width:60%; */
    margin-top: -0.9rem;
    background-color: white;
    color: var(--ion-color-primary);
    font-weight: 500;
}

.number-label-active{
    margin-top: -0.9rem;
    background-color: white;
    font-weight: 500;
}

.number-input-container {
    min-height: 3rem;
    margin-top: 0.25rem;
}

.number-input-container:has(> .number-input:focus) {
    border: 2px solid var(--ion-color-primary);
}

.payment-tabs:hover{
    --background-hover: white !important;
}

.top-nav-btn{
    --color: var(--ion-color-medium) !important;
    --color-selected: var(--ion-color-medium) !important;
}