@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: CairoExtraLight;
    src: url("./fonts/Cairo-ExtraLight.ttf") format(truetype);
}

@font-face {
    font-family: CairoLight;
    src: url("./fonts/Cairo-Light.ttf") format(truetype);
}

@font-face {
    font-family: CairoRegular;
    src: url("./fonts/Cairo-Regular.ttf") format(truetype);
}

@font-face {
    font-family: CairoMedium;
    src: url("./fonts/Cairo-Medium.ttf") format(truetype);
}

@font-face {
    font-family: CairoSemiBold;
    src: url("./fonts/Cairo-SemiBold.ttf");
}

@font-face {
    font-family: CairoBold;
    src: url("./fonts/Cairo-Bold.ttf") format(truetype);
}

@font-face {
    font-family: CairoExtraBold;
    src: url("./fonts/Cairo-ExtraBold.ttf") format(truetype);
}

@font-face {
    font-family: CairoBlack;
    src: url("./fonts/Cairo-Black.ttf") format(truetype);
}

@layer {
    .shadow-0 {
        box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.05);
    }

    .CairoExtraLight {
        font-family: CairoExtraLight;
    }

    .CairoLight {
        font-family: CairoLight;
    }

    .CairoRegular {
        font-family: CairoRegular;
    }

    .CairoMedium {
        font-family: CairoMedium;
    }

    .CairoSemiBold {
        font-family: CairoSemiBold;
    }

    .CairoBold {
        font-family: CairoBold;
    }

    .CairoExtraBold {
        font-family: CairoExtraBold;
    }

    .CairoBlack {
        font-family: CairoBlack;
    }

    .btn-primary {
        height: 50px;
        --border-radius: 10px;
    }
}

ion-content {
    --ion-background-color: #f9f9f9;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    border: 1px solid var(--ion-color-primary)
}

input.number-input::placeholder {
    color: transparent;
}

input.number-input:focus {
    color: var(--ion-color-primary);
    outline: none;
    height: 40px;
}

input.number-input:focus::placeholder {
    color: #e4e4e4;
}

.number-label {
    margin-top: 0.5rem;
    position: absolute;
    font-size: 16px;
    transition: margin ease-in-out 0.3s;

}

input.number-input:focus~.number-label {
    /* margin-top:-10px !important;
    display: block;
    background-color: white;
    width:60%; */
    margin-top: -0.9rem;
    background-color: white;
    color: var(--ion-color-primary);
}

.number-input-container {
    min-height: 3rem;
    margin-top: 0.25rem;
}

.number-input-container:has(> .number-input:focus) {
    border: 2px solid var(--ion-color-primary);
}

@media (min-width: 640px){
    .swiper-container{
        height: 340px !important;
    }
    .swiper-image{
        height: 300px !important;
    }
    .swiper-slide{
        height: 320px !important;
    }
}
@media (min-width: 768px){
    .swiper-container{
        height: 520px !important;
    }
    .swiper-image{
        height: 470px !important;
    }
    .swiper-slide{
        height: 500px !important;
    }
}

.payment-tabs:hover{
    --background-hover: white !important;
}

.top-nav-btn{
    --color: var(--ion-color-medium) !important;

    --color-selected: var(--ion-color-medium) !important;
}